body{
    background-image: linear-gradient(#E5FDF5,#005575);
}

.container{
    display:flex;
    flex-wrap:wrap;
}

#navigationBar{
    width:100%;
}
#aboutMe{
    cursor:pointer;
}

#portfolio{
    cursor:pointer;
}

#contact{
    cursor:pointer;
}

#phone{
    display:none;
}

#about{
    display:none;
}

#middle{
    background-color:transparent;
    width:100%;
    border:black solid 1px;
    padding:20px;

}

.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:center;

}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Comfortaa', cursive;

}
.aboutme{
    border:solid black;
    width:100%;
}

/*.top{*/
/*    background-color:black;*/
/*    font-size:20px;*/
/*    color:white;*/
/*    width:100%;*/
/*    text-align:center;*/
/*    font-family: 'Montserrat Alternates', sans-serif;*/
/*    border:solid #8EF6C5 5px;*/
/*    border-radius:100px;*/
/*}*/

a{
    color:white;
}

.portfolioSection{
    width:100%;
}

#portfolioLink{
    text-decoration:none;
}

.githubDiv{
    width:30%;
}

.facebookDiv{
    width:30%;
}

.linkedInDiv{
    width:30%;
}

.rowContact{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin-left:15%;
    margin-bottom:20px;
}

.rowFooter{
    width:100%;
    background-color:black;
    color:white;
    text-align:center;
}


#github{
    font-size:20px;
    cursor:pointer;
    /*border-radius: 50px;*/
    border:solid #C5C9FC;
    background-color: #ACC2EC;
    box-shadow: 0px 0px 5px 2px white;
}

#facebook{
    font-size:20px;
    cursor:pointer;
    /*border-radius: 50px;*/
    background-color:  #ACC2EC;
    border:solid #C5C9FC;
    box-shadow: 0px 0px 5px 2px white;
}

#linkedIn{
    font-size:20px;
    cursor:pointer;
    /*border-radius: 50px;*/
    background-color:  #ACC2EC;
    border:solid #C5C9FC;
    box-shadow: 0px 0px 5px 2px white;

}

.headshot{
    border-radius: 500px;
    width:100px;
}
